@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap");

* {
  font-family: "Inconsolata", monospace;
  color: #cbd0d0;
}
body {
  padding: 5px;
  background-color: transparent;
}
main {
  padding: 10px;
  background-color: #24282a;
}
/* membuat container atau wadah dari scrollbar dengan lebar 20px  */
::-webkit-scrollbar {
  width: 18px;
}
/* membuat background dari scrollbar */
/* kasih warna transparan agar lebih estetik  */
::-webkit-scrollbar-track {
  background-color: transparent;
}
/* membuat styling pada batang atau bar scrollbar  */
/* kita beri warna abu tua dengan lengkungan di sisi atas dan bawahnya  */
::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}
/* warna akan berubah menjadi abu mudah saat kursor diarahkan  */
::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}
img {
  display: block;
  margin-top: 10px;
}
.rak {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}
.rak a {
    text-decoration: none;
}
.rak a img {
    display: inline-block;
    width: 200px;
    height: 300px;
}