@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@400&display=swap");

* {
  font-family: 'Inconsolata', monospace;
  color: #cbd0d0;
}
body {
  padding: 5px;
  background-color: transparent;
}
main {
  padding: 10px;
  background-color: #24282a;
}
::-webkit-scrollbar {
  display: none;
}
img {
  display: block;
  margin-top: 10px;
}