body {
    padding: 0;
    margin: 0;
}

::-webkit-scrollbar {
    display: none;
}

h1 {
    text-align: center;
}

.container {
    max-width: 800px;
    min-width: 360px;
    margin: auto;
}

img {
    display: block;
    margin-top: 10px;
}

nav {
    margin-bottom: 20px;
}

.ratio {
    margin-top: 10px;
}

main {
    margin-top: 10px;
    display: block;
    justify-content: space-around;
    flex-wrap: wrap;
}

main .card {
    margin-bottom: 10px;
    display: block;
}

.accordion {
    width: 100%;
}

.navbar {
    position: static;
}

.navbar img {
    display: inline-block;
}

img {
    display: block;
    margin-top: 10px;
}

.accordion {
    margin-top: 10px;
}